.event-time-definition-form {
    
}
/*.event-time-definition-form .recur-type-select {
    margin: 10px 0;
}
.event-time-definition-form .recur-type-options {
    margin: 10px 0;
}
.event-time-definition-form .days-of-week {
    margin: 10px 0;
}*/